Repository gatortim50/wellthon-login: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "stylelint",
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ]
}

update docs
  README.md
Due: none

run prettier
  client/src/App.js
  client/src/actions/authActions.js
  client/src/actions/types.js
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Layout/Footer.js
  client/src/components/Layout/Landing.js
  client/src/components/Layout/Navbar.js
  client/src/components/Login/Login.js
  client/src/components/Login/Login.test.js
  client/src/components/Page404/Page404.js
  client/src/components/Page404/Page404.test.js
  client/src/components/Page500/Page500.js
  client/src/components/Page500/Page500.test.js
  client/src/components/Register/Register.js
  client/src/components/Register/Register.test.js
  client/src/components/common/InputGroup.js
  client/src/components/common/PrivateRoute.js
  client/src/components/common/SelectListGroup.js
  client/src/components/common/Spinner.js
  client/src/components/common/TextAreaFieldGroup.js
  client/src/components/common/TextFieldGroup.js
  client/src/components/index.js
  client/src/index.js
  client/src/reducers/authReducer.js
  client/src/reducers/errorReducer.js
  client/src/reducers/index.js
  client/src/serviceWorker.js
  client/src/stores/store.js
  client/src/stories/index.js
  client/src/utils/setAuthToken.js
  client/src/validation/is-empty.js
Due: stylelint, prettier --write, eslint --fix

run prettier
  package.json
Due: prettier --write

modify routing
  client/src/App.js
  client/src/components/Dashboard/Dashboard.js
  client/src/components/Layout/Navbar.js
  client/src/components/Login/Login.js
Due: stylelint, prettier --write, eslint --fix

remove console.log
  client/src/actions/authActions.js
  client/src/reducers/authReducer.js
Due: stylelint, prettier --write, eslint --fix

include mongodb in readme
  README.md
Due: none
